<h1>Nuevo héroe</h1>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGrap="40px">
    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayoutGrap="20px">
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>Super Héroe</mat-label>
                <input
                    matInput 
                    type="text"
                    [(ngModel)]="heroe.superhero"
                    required>
            </mat-form-field>
    
            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input
                    matInput 
                    type="text"
                    [(ngModel)]="heroe.alter_ego"
                    required>
            </mat-form-field>
        </div>

        <mat-form-field fxFlex="100">
            <mat-label>Primera aparición</mat-label>
            <input
                matInput 
                type="text"
                [(ngModel)]="heroe.first_appearance"
                required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Personajes</mat-label>
            <input
                matInput 
                type="text"
                [(ngModel)]="heroe.characters"
                required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Creador</mat-label>
            <mat-select [(ngModel)]="heroe.publisher">
                <mat-option *ngFor="let item of publishers"
                    [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Foto - URL</mat-label>
            <input
                matInput 
                type="url"
                [(ngModel)]="heroe.alt_img"
                required>
        </mat-form-field>

        <div fxLayout>
            <button mat-raised-button color="primary" (click)="guardar()">
                <mat-icon>edit</mat-icon>
                Guardar
            </button>

            <span class="spacer"></span>

            <button mat-raised-button color="warn" *ngIf="heroe.id" (click)="borrarHeroe()">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>

    </div>

    <div fxFlex="50">
        <img [src]="heroe | imagen" alt="">
    </div>
</div>
